<nav
  class="flex flex-row justify-between navbar w-full h-5 bg-base-300 border-b"
>
  <label
    for="my-drawer-4"
    aria-label="open sidebar"
    class="btn btn-square btn-ghost"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      stroke-linejoin="round"
      stroke-linecap="round"
      stroke-width="2"
      fill="none"
      stroke="currentColor"
      class="my-1.5 inline-block size-4"
    >
      <path
        d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
      ></path>
      <path d="M9 4v16"></path>
      <path d="M14 10l2 2l-2 2"></path>
    </svg>
  </label>

  <div class="px-4">Navbar Title12321s</div>

  <!-- <div class="dropdown dropdown-end"> -->
  <!-- 	<div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar"> -->
  <!-- 		<div class="size-5 rounded-full"> -->
  <!-- 			<img alt="Tailwind CSS Navbar component" src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"> -->
  <!-- 		</div> -->
  <!-- 	</div> -->
  <!-- 	<ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52  shadow flex gap-3"> -->
  <!-- 		<li> -->
  <!-- 			<a class="font-bold text-lg bg-black  justify-between">Profile</a> -->
  <!-- 		</li> -->
  <!---->
  <!-- 		<li> -->
  <!-- 			<a class="font-bold text-lg bg-black  justify-between">Profile</a> -->
  <!-- 		</li> -->
  <!---->
  <!-- 		<li> -->
  <!-- 			<a class="font-bold text-lg bg-red-950 justify-between">Logout</a> -->
  <!-- 		</li> -->
  <!-- 	</ul> -->
  <!-- </div> -->
</nav>
