html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}


.websiteBackground {
  position: relative;
  background-image: url('/wallpaper6.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.websiteBackground::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* black overlay with 50% opacity */
  z-index: 1;
}

/* Then your content inside needs higher z-index */
.websiteBackground > * {
  position: relative;
  /* z-index: 200; */
}

