<!-- <div class="relative space-y-3"> -->
<!--   <div -->
<!--     class="overflow-hidden bg-base-200 rounded-xl p-2 space-y-3 shadow-[0px_0px_2px_rgba(0,0,0,0.3)]" -->
<!--   > -->
<!--     <div class="w-full flex flex-row justify-between"> -->
<!--       <h1 class="text-2xl font-black pl-2">Top Rated Product</h1> -->
<!--       <div class="flex flex-row gap-2"> -->
<!--         <button (click)="prevBtn()" class="btn btn-secondary btn-circle"> -->
<!--           <lucide-angular class="transition-all duration-500" [img]="lArrowIcon"></lucide-angular> -->
<!--         </button> -->
<!--         <button (click)="nextBtn()" class="btn btn-secondary btn-circle"> -->
<!--           <lucide-angular class="transition-all duration-500" [img]="rArrowIcon"></lucide-angular> -->
<!--         </button> -->
<!--       </div> -->
<!--     </div> -->
<!--     <!-- <div class="flex flex-row gap-2 -translate-x-[100%]" [ngStyle]="currentStyles"> -->
-->
<!--     <div class="flex gap-2"> -->
<!--       @for (product of topRatedproducts().slice(firstItem(), lastItem()); track $index) { -->
<!--         <div class="w-1/5 transition-all duration-1000" [style.opacity]="cardOpacity()"> -->
<!--           <comp-product-card [product]="product"></comp-product-card> -->
<!--         </div> -->
<!--       } -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->
