<div class="w-full flex flex-col gap-6 relative">
  <div class="breadcrumbs text-sm h-10 flex items-center">
    <ul>
      <li>
        <a routerLink="/">
          HomeIcon
          <!-- <lucide-angular [img]="HomeIcon"></lucide-angular> -->
        </a>
      </li>
      <li>
        <a routerLink="/categories"> Category </a>
      </li>

      <li>
        {{ currentCategory | uppercase }}
      </li>
    </ul>
  </div>

  <comp-filter-sidebar (currentList)="getFilteredData($event)"></comp-filter-sidebar>

  <div class="rounded-2xl p-2 bg-base-200 shadow-md h-full w-full grid grid-cols-5 gap-2">
    @if (products().length === 0) {
      <p class="text-4xl font-bold col-span-5 flex justify-center items-center text-gray-500">
        No products found
      </p>
    } @else {
      @for (prod of products(); track $index; let idx = $index) {
        <app-comp-product-card [product]="prod"></app-comp-product-card>
      }
    }
  </div>
  <div class="join flex justify-center items-center">
    @for (i of [].constructor(roundUpPages(totalProducts() / 10)); track i; let idx = $index) {
      <button class="join-item btn">{{ idx + 1 }}</button>
    }
  </div>
</div>
