@if(isShown()){


<nav class="w-full bg-base-100 shadow-md">
  <div class="lg:w-3/4 md:w-full mx-auto px-4 ">
    <div
      class="flex flex-row items-center h-15 gap-2 py-3 overflow-x-auto overflow-y-visible "
    >
      @if(!showCategories()){
      <div class="" animate.enter="enter-breadcharm">
        <!-- Breadcrumbs -->
        <div class="breadcrumbs text-sm p-4">
          <ul>
            <li>
              <button
               class='btn btn-primary'
                    (click)="showCategories.set(true);showCloseCategoriesBtn.set(true)"
              >
                Categories
              </button>
            </li>
            <li>
              @if(isProduct()){
              <a
                [routerLink]="['/subcategory', subCategoryID()]"
                [queryParams]="{ subCategoryName: subCategoryName() }"
                class="hover:bg-base-200 selector-radius"
              >
                {{subCategoryName()}}
              </a>

              }@else{ {{subCategoryName()}} }
            </li>
            <li>{{productName()}}</li>
          </ul>
        </div>
      </div>

      }@else{
      <div class="" animate.enter="enter-categories">
        @if(showCloseCategoriesBtn()){

        <button
          class="btn btn-error btn-rounded size-6 text-xs"
          (click)="showCategories.set(false)"
        >
          X
        </button>
        } @for(cat of categories(); track $index) {
        <div class="dropdown dropdown-hover" #dropdown>
          <div
            tabindex="0"
            role="button"
            class="btn m-1"
            (click)="dropdown.classList.remove('dropdown-close');dropdown.classList.add('dropdown-open');showCategories.set(false)"
          >
            {{cat.category}}
            <lucide-angular
              [img]="chevronDown"
              class="w-4 h-4"
            ></lucide-angular>
          </div>
          <ul
            tabindex="-1"
            class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm"
          >
            @for(sub of cat.subCategoriesList; track $index) {
            <li>
              <a
                [routerLink]="['/subcategory', sub._id]"
                [queryParams]="{ subCategoryName: sub.subCategory }"
                class="hover:bg-base-200 selector-radius"
                (click)="dropdown.classList.remove('dropdown-open');dropdown.classList.add('dropdown-close');showCategories.set(false)"
              >
                {{ sub.subCategory }}
              </a>
            </li>
            }
          </ul>
        </div>

        }
      </div>
      }
    </div>
  </div>
</nav>
}
