.enter-carousel {
  animation: slide-carousel 1s;
}
@keyframes slide-carousel {
  from {
    opacity: 0;

  }
  to {
    opacity: 1;

  }
}

.enter-categories {
  animation: slide-categories 1s;
}
@keyframes slide-categories {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
